In [47]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from datetime import datetime
import math

In [48]:
stock_code = '005930'

df = fdr.DataReader(stock_code)  # 전체 데이터 프레임 불러오기
recent_days = df.tail(20)

In [49]:
recent_days['Date'] = recent_days.index

/var/folders/xm/1l252kdj0mn9mrlg655cqy3w0000gn/T/ipykernel_11380/4061544571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_days['Date'] = recent_days.index

In [54]:
recent_days['Date'] = pd.to_datetime(recent_days['Date']).dt.strftime('%Y.%m.%d')
recent_days

/var/folders/xm/1l252kdj0mn9mrlg655cqy3w0000gn/T/ipykernel_11380/4152243025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_days['Date'] = pd.to_datetime(recent_days['Date']).dt.strftime('%Y.%m.%d')

             Open   High    Low  Close    Volume    Change        Date
Date
2025-05-02  55000  55500  54200  54300  22454204 -0.021622  2025.05.02
2025-05-07  54500  55000  54300  54600  17136991  0.005525  2025.05.07
2025-05-08  55100  55500  54500  54600  16320532  0.000000  2025.05.08
2025-05-09  54700  55000  54400  54800   7814322  0.003663  2025.05.09
2025-05-12  55200  57600  55000  57600  15414702  0.051095  2025.05.12
2025-05-13  57700  58200  56800  56900  16842801 -0.012153  2025.05.13
2025-05-14  57500  57900  57000  57400  12468089  0.008787  2025.05.14
2025-05-15  57400  58600  57100  57300  13139736 -0.001742  2025.05.15
2025-05-16  57400  57500  56700  56800  10385352 -0.008726  2025.05.16
2025-05-19  56400  56400  55500  55800   9802105 -0.017606  2025.05.19
2025-05-20  56200  56700  55700  55900   9080577  0.001792  2025.05.20
2025-05-21  56200  56600  55700  55700   7794181 -0.003578  2025.05.21
2025-05-22  55300  55500  54500  54700  15254278 -0.017953  2025.05.22
2025-05-23  55000  55200  54100  54200  11247115 -0.009141  2025.05.23
2025-05-26  53900  55000  53700  54700  10901337  0.009225  2025.05.26
2025-05-27  54200  54500  53800  53900  13439520 -0.014625  2025.05.27
2025-05-28  54300  56100  54200  55900  17516283  0.037106  2025.05.28
2025-05-29  56200  56400  55600  56100  12936810  0.003578  2025.05.29
2025-05-30  56200  57200  55800  56200  26219683  0.001783  2025.05.30
2025-06-02  56300  57300  56200  56600   8857868  0.007117  2025.06.02

In [55]:
recent_days_index = recent_days.reset_index(drop=True)

In [56]:
recent_days_index

     Open   High    Low  Close    Volume    Change        Date
0   55000  55500  54200  54300  22454204 -0.021622  2025.05.02
1   54500  55000  54300  54600  17136991  0.005525  2025.05.07
2   55100  55500  54500  54600  16320532  0.000000  2025.05.08
3   54700  55000  54400  54800   7814322  0.003663  2025.05.09
4   55200  57600  55000  57600  15414702  0.051095  2025.05.12
5   57700  58200  56800  56900  16842801 -0.012153  2025.05.13
6   57500  57900  57000  57400  12468089  0.008787  2025.05.14
7   57400  58600  57100  57300  13139736 -0.001742  2025.05.15
8   57400  57500  56700  56800  10385352 -0.008726  2025.05.16
9   56400  56400  55500  55800   9802105 -0.017606  2025.05.19
10  56200  56700  55700  55900   9080577  0.001792  2025.05.20
11  56200  56600  55700  55700   7794181 -0.003578  2025.05.21
12  55300  55500  54500  54700  15254278 -0.017953  2025.05.22
13  55000  55200  54100  54200  11247115 -0.009141  2025.05.23
14  53900  55000  53700  54700  10901337  0.009225  2025.05.26
15  54200  54500  53800  53900  13439520 -0.014625  2025.05.27
16  54300  56100  54200  55900  17516283  0.037106  2025.05.28
17  56200  56400  55600  56100  12936810  0.003578  2025.05.29
18  56200  57200  55800  56200  26219683  0.001783  2025.05.30
19  56300  57300  56200  56600   8857868  0.007117  2025.06.02

In [51]:
uniqueTime = datetime.now().strftime('%Y%m%d_%H%M%S')
file_path_csv = f'data/{uniqueTime}_stock.csv'

recent_days.to_csv(file_path_csv, index = False, encoding = "utf-8-sig")